<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Admin - Editar categoría</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/general.css"
	th:href="@{/css/general.css}">
</head>

<body>
	<div th:insert="fragments/menu.html :: menu"></div>

	<!-- Formulario de edición de la categoría -->
	<div class="bg-white">
		<div class="col-12">
			<div class="col-12 col-lg-10 col-xl-7 mx-auto">
				<div class="card card-signin my-5 no-border row">
					<form method="POST" th:object="${categoria}"
						th:action="@{/admin/edicion-categoria}"
						enctype="multipart/form-data">
						<h5 class="text-center mt-4">Editar la categoría <span th:text="${categoria.nombre}"></span></h5>
						<input th:if="*{id != 0}" type="hidden" name="id" th:field="*{id}">
						<div class="form-label-group my-3 col-12">
							<label class="col-12">Nombre</label> <input th:if="${categoria.id == 0}" type="text" id="name"
								name="name" class="form-control" min="0" step="1" value="0"
								required th:field="*{nombre}" disabled>
							<input th:if="${categoria.id != 0}" type="text" id="name"
								name="name" class="form-control" min="0" step="1" value="0"
								required th:field="*{nombre}">
						</div>
						<div class="col-6 col-xl-2 col-lg-2 mx-auto my-4">
							<input type="submit" name="enviar" value="Guardar cambios" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="fragments/footer.html :: pie"></div>

	<!-- Optional JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script type="text/javascript" th:src=""></script>
	<script type="text/javascript" th:src="@{/js/productos/formularios.js}"></script>
</body>

</html>