<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Categorías</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/general.css"
	th:href="@{/css/general.css}">
</head>

<body>
	<div th:insert="fragments/menu.html :: menu"></div>

	<h2 th:if="${categoria.id != 0}"
		class="text-uppercase text-center mt-5 mb-3">
		Ofertas de <span th:text="${categoria.nombre}"></span>
	</h2>

	<h2 th:if="${categoria.id == 0}"
		class="text-uppercase text-center mt-5 mb-3">
		Ofertas de productos <span th:text="${categoria.nombre}"></span>
	</h2>

	<!-- Lista de categorías -->
	<div class="col-10 row mx-auto mb-4">
		<div class="row col-4 mx-auto"
			th:each="categoria : ${listaCategorias}">
			<a th:text="${categoria.nombre}" th:value="${categoria.nombre}"
				class="mx-auto my-2"
				th:href="@{/categoria/{nombre}(nombre=${categoria.nombre})}"
				id="nombre"></a>
		</div>
	</div>

	<!-- lista de productos -->
	<div th:insert="fragments/datosProducto.html :: datos"></div>

	<!-- Paginación -->
	<div class="row mt-5 mx-auto text-center justify-content-center">
		<div class="form-group col-md-1  mx-auto">
			<select class="form-control pagination" id="pageSizeSelect">
				<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
					th:value="${pageSize}"
					th:selected="${pageSize} == ${selectedPageSize}"></option>
			</select>
		</div>
		<div th:if="${listaProductos.totalPages != 1}"
			class="form-group col-md-11 pagination-centered">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-end">
					<!-- Si el número de página es cero, deshabilitamos el enlace -->
					<li class="page-item" th:class="${listaProductos.number == 0} ? disabled">
						<!-- Este enlace nos debe llevar a la primera página, con el tamaño de página actual -->
						<a class="page-link text-danger"
						th:href="@{/categoria/{nombre}/(pageSize=${selectedPageSize}, page=1, nombre=${categoria.nombre})}">&laquo;</a>
					</li>
					<!-- Si el número de página es cero, deshabilitamos el enlace -->
					<li class="page-item" th:class="${listaProductos.number == 0} ? disabled">
						<!-- Este enlace nos debe llevar a la página anterior, con el tamaño de página actual -->
						<a class="page-link text-danger"
						th:href="@{/categoria/{nombre}/(pageSize=${selectedPageSize}, page=${listaProductos.number}, nombre=${categoria.nombre})}">&larr;</a>
					</li>
					<!-- Este bucle genera los enlaces para las demás páginas -->
					<li class="page-item"
						th:class="${listaProductos.number == (page - 1)} ? 'active pointer-disabled'"
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a class="page-link text-danger"
						th:href="@{/categoria/{nombre}/(pageSize=${selectedPageSize}, page=${page}, nombre=${categoria.nombre})}"
						th:text="${page}"></a>
					</li>
					<!-- Enlace a la siguiente página; si estamos en la última queda desabilitado  -->
					<li class="page-item"
						th:classappend="${listaProductos.number + 1 == listaProductos.totalPages} ? 'disabled'">
						<a class="page-link text-danger"
						th:href="@{/categoria/{nombre}/(pageSize=${selectedPageSize}, page=${listaProductos.number + 2}, nombre=${categoria.nombre})}">&rarr;</a>
					</li>
					<!-- Enlace a la última página; si estamos en la última queda desabilitado  -->
					<li class="page-item"
						th:class="${listaProductos.number + 1 == listaProductos.totalPages} ? disabled">
						<a class="page-link text-danger"
						th:href="@{/categoria/{nombre}/(pageSize=${selectedPageSize}, page=${listaProductos.totalPages}, nombre=${categoria.nombre})}">&raquo;</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<!-- FOOTER -->
	<div th:insert="fragments/footer.html :: pie"></div>


	<!-- Optional JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/categorias.js}"></script>
</body>
</html>