<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Página no encontrada</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/error.css" th:href="@{/css/error.css}">
</head>

<body>

	<div class="col-12">
		<p class="center text-uppercase mt-5">La página no se ha podido
			encontrar</p>

		<p class="center">
			Utilice
			<button type="button" class="btn btn-danger">Space</button>
			para disparar y
			<button type="button" class="btn btn-danger">←</button>
			&#160;
			<button type="button" class="btn btn-danger">→</button>
			para moverse&#160;&#160;&#160;
			<button class="btn btn-default btn-xs" id="restart">Reinicar</button>
		</p>

		<canvas id="space-invaders"></canvas>

		<div class="col-12 mx-auto mt-5 justify-content-center">
			<div class="col-6 text-center mx-auto">
				<a href="/inicio" class="btn btn-dark" type="button">Volver a
					inicio</a>
			</div>
		</div>
	</div>
</body>
<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/error.js}"></script>

</html>