<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Admin - Nuevo Cupón</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/general.css"
	th:href="@{/css/general.css}">
</head>
<body>
	<div th:insert="fragments/menu.html :: menu"></div>

	<!-- Formulario del cupón -->
	<div class="bg-white">
		<div class="col-12">
			<div class="col-12 col-lg-10 col-xl-7 mx-auto">
				<div class="card card-signin my-5 no-border row">
					<form method="POST" th:object="${cupon}"
						th:action="${cupon.id != 0} ? @{/admin/edicion-cupon} : @{/admin/addCupon}"
						enctype="multipart/form-data">
						<h5 class="text-center mt-4">Formulario del cupón</h5>
						<input th:if="*{id != 0}" type="hidden" name="id" th:field="*{id}">
						<div class="col-12 row justify-content-center"
							th:fragment="campos">
							<div class="form-label-group mb-3 col-12 mt-3">
								<label for="name">Nombre</label> <input type="text" required
									class="form-control" placeholder="Nombre del cupón" autofocus
									th:field="*{nombre}">
							</div>
							<div
								class="form-label-group mb-3 col-md-3 col-lg-3 col-xl-3 col-6">
								<label for="unidadesMin">Unidades mínimas</label> <input
									type="number" id="minU" name="minU" class="form-control"
									min="0" step="1" value="1" required th:field="*{unidadesMin}">
							</div>
							<div
								class="form-label-group mb-3 col-md-3 col-lg-3 col-xl-3 col-6">
								<label for="desc">Descuento</label> <input type="number"
									id="descuento" name="descuento" class="form-control" min="0.01"
									step="0.01" value="0" required th:field="*{descuento}">
							</div>
						</div>
						<div class="col-6 col-xl-2 col-lg-2 mx-auto my-4">
							<input type="submit" name="enviar" value="Guardar"
								onclick="comprobar()" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="fragments/footer.html :: pie"></div>

	<!-- Optional JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<!--<script type="text/javascript">
		function comprobar() {
			var precioI = document.getElementById('precioI');
			var precioF = document.getElementById('precioF');
			
			if (precioI < precioF) {
				alert("Cuidado con poner los precios más altos que la competencia");
			} else {
				var caducidad = document.getElementById('caducidad');
				var date, res;
				date = new Date();
				res = date.toISOString();
				document.write(res);
			}
		}
	</script>-->
</body>
</html>